<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
    <style>
    body, html {
       margin: 0;
       background: url('/static/css/mocha-grunge-slate.png');
       background-size: 2880px 1620px;
       padding: 1%;
      }
      .container{
        background: url('/static/css/mocha-grunge-slate.png');
        background-size: 1440px 800px;
        background-repeat: repeat;
        padding: 3%;
        margin: 7%;
        border: 3px solid #ffa64d;
      }

    </style>
  </head>
  <body>
      <div class="container">
        <div class="page-header">
          <h2>Are you sure you want to delete this favorite? <br><br><small>Name: {{favorite.name}}</small></h2>
        </div>
      <!-- <p>
        Name: {{favorite.name}}
      </p> -->
      <div class=" col-sm-4">
        <a class="btn btn-warning btn-lg" href="/confrim_delete/{{favorite.id}}"role="button"> Yes </a>
        <a class="btn btn-warning btn-lg" href="/" role=button> No </a>
      </div>
    </div>
  </body>

</html>
