<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Crime Map with Clusters</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js'></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
      }
      #container{
        height: 500px;
        margin: 5%;
      }
    </style>
  </head>
  <body>
  <div id="container">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box"><br><br>
    <div id="map"></div>
    <div>
      <span>Vehicle Theft</span><img src="https://maps.google.com/mapfiles/kml/paddle/T.png"><br>
      <span>Assault</span><img src="https://maps.google.com/mapfiles/kml/paddle/A.png"><br>
      <span>Vandalism</span><img src="https://maps.google.com/mapfiles/kml/paddle/V.png"><br>
      <span>Kidnapping</span><img src="https://maps.google.com/mapfiles/kml/paddle/K.png"><br>
      <span>Sex Crime</span><img src="https://maps.google.com/mapfiles/kml/paddle/S.png"><br>
      <span>DUI</span><img src="https://maps.google.com/mapfiles/kml/paddle/D.png"><br>

      {%for crime in crimes%}
      <p>this is the category for the crime: {{crime.category}}</p>
      <p>this is the hour for the crime: {{crime.real_time[3]}}</p>
        <script type="text/javascript">
        var hour = {{crime.real_time[3]}};
        console.log(hour)
        </script>
      {%endfor%}

    </div>
  </div>
    <script>

    // set new icons
    var icon = {'T':'https://maps.google.com/mapfiles/kml/paddle/T.png',
    'A':'https://maps.google.com/mapfiles/kml/paddle/A.png',
    'V':'https://maps.google.com/mapfiles/kml/paddle/V.png',
    'K':'https://maps.google.com/mapfiles/kml/paddle/K.png',
    'S':'https://maps.google.com/mapfiles/kml/paddle/S.png',
    'D':'https://maps.google.com/mapfiles/kml/paddle/D.png'}

     var markers = []
     var markers2= []
    {% for crime in crimes: %}
      {% if crime.category == 'VEHICLE THEFT': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['T']})
      {% elif crime.category == 'ASSAULT': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['A']})
      {% elif crime.category == 'VANDALISM': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['V']})
      {% elif crime.category == 'KIDNAPPING': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['K']})
      {% elif crime.category == 'SEX OFFENSES, FORCIBLE': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['S']})
      {% else: %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['D']})
      {% endif %}
    {% endfor %}

     // To add the marker to the map, call setMap();
     // marker.setMap(map);


    	function createNewMarker(obj,map){
    		var marker = new google.maps.Marker({
			position: obj.position,
			map: map,
			icon: obj.icon
			});
			console.log(obj);
			return marker;
    	}

      function initMap() {
        var center = {lat: 37.7762801, lng: -122.4327323};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: center
        });

      // markers2 is an array of the actual markers
  		for (var i =0; i < markers.length;i++){
        markers2.push(createNewMarker(markers[i],map));
  		}
      //
      var markercluster = new MarkerClusterer(map, markers2, {
    imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m'
        });


      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC463uEVAexz7AMHPofPGS7D3gKS9IITs8&callback=initMap">
    </script>

  </body>
</html>
