<!DOCTYPE html>
<html>
  <head>
    <title>directions2</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
    </div>
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>

    <div id="map"></div>
    <div class="container">
      <h2>Filter by crime</h2>
      <div class="row">
        <div class="col-md-2">
          <div class="input-group input-group-lg">
            <h3><span class="label label-info">Assault</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
      <div class="row">
        <div class="col-md-2">
          <div class="input-group input-group-lg">
            <h3><span class="label label-info">Vandalism</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
      <div class="row">
        <div class="col-md-2">
          <div class="input-group input-group-lg">
            <h3><span class="label label-info">Kidnapping</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
      <div class="row">
        <div class="col-md-2">
          <div class="input-group input-group-lg">
            <h3><span class="label label-info">Sex Crime</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
      <div class="row">
        <div class="col-md-2">
          <div class="input-group input-group-lg">
            <h3><span class="label label-info">DUI</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
      <div class="row">
        <div class="col-md-2">
          <div class="input-group">
            <h3><span class="label label-info">Vehicle Theft</span></h3>
              <input type="checkbox" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-md-2 -->
    </div>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var icon = {'T':'https://maps.google.com/mapfiles/kml/paddle/6-lv.png',
    'A':'https://maps.google.com/mapfiles/kml/paddle/1-lv.png',
    'V':'https://maps.google.com/mapfiles/kml/paddle/2-lv.png',
    'K':'https://maps.google.com/mapfiles/kml/paddle/3-lv.png',
    'S':'https://maps.google.com/mapfiles/kml/paddle/4-lv.png',
    'D':'https://maps.google.com/mapfiles/kml/paddle/5-lv.png'}
     var markers = [];
     var markers2= [];
     var markers3 = [];
    {% for crime in crimes: %}
      {% if crime.category == 'VEHICLE THEFT': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['T'],
        time: {{crime.real_time.tm_hour}}})
      {% elif crime.category == 'ASSAULT': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['A'],
        time: {{crime.real_time.tm_hour}}})
      {% elif crime.category == 'VANDALISM': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['V'],
        time: {{crime.real_time.tm_hour}}})
      {% elif crime.category == 'KIDNAPPING': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['K'],
        time: {{crime.real_time.tm_hour}}})
      {% elif crime.category == 'SEX OFFENSES, FORCIBLE': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['S'],
        time: {{crime.real_time.tm_hour}}})
      {% elif crime.category == 'DRIVING UNDER THE INFLUENCE': %}
        markers.push({position:{lat: {{crime.location.coordinates[1]}},lng: {{crime.location.coordinates[0]}}},
        icon: icon['D'],
        time: {{crime.real_time.tm_hour}}})
      {% endif %}
    {% endfor %}

    function createNewMarker(obj,map){
        var marker = new google.maps.Marker({
      position: obj.position,
      map: map,
      icon: obj.icon
      });
      return marker;
      }

        var origin_place_id = null; // change to geolocation?
        var destination_place_id = null;
        var travel_mode = 'WALKING';
        var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: {lat: 37.7762801, lng: -122.4327323},
          zoom: 13
        });
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({draggable:true});
        directionsDisplay.setMap(map);

        var origin_input = document.getElementById('origin-input');
        var destination_input = document.getElementById('destination-input');
        var modes = document.getElementById('mode-selector');

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(origin_input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(destination_input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(modes);

        var origin_autocomplete = new google.maps.places.Autocomplete(origin_input);
        origin_autocomplete.bindTo('bounds', map);
        var destination_autocomplete =
            new google.maps.places.Autocomplete(destination_input);
        destination_autocomplete.bindTo('bounds', map);

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, mode) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            travel_mode = mode;
          });
        }
        setupClickListener('changemode-walking', 'WALKING');
        setupClickListener('changemode-transit', 'TRANSIT');
        setupClickListener('changemode-driving', 'DRIVING');

        function expandViewportToFitPlace(map, place) {
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }
        }

        origin_autocomplete.addListener('place_changed', function() {
          var place = origin_autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }
          expandViewportToFitPlace(map, place);

          // If the place has a geometry, store its place ID and route if we have
          // the other place ID
          origin_place_id = place.place_id;
          route(origin_place_id, destination_place_id, travel_mode,
                directionsService, directionsDisplay);
        });

        destination_autocomplete.addListener('place_changed', function() {
          var place = destination_autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }
          expandViewportToFitPlace(map, place);

          // If the place has a geometry, store its place ID and route if we have
          // the other place ID
          destination_place_id = place.place_id;
          route(origin_place_id, destination_place_id, travel_mode,
                directionsService, directionsDisplay);
        });

        function route(origin_place_id, destination_place_id, travel_mode,
                       directionsService, directionsDisplay) {
          if (!origin_place_id || !destination_place_id) {
            return;
          }
          directionsService.route({
            origin: {'placeId': origin_place_id},
            destination: {'placeId': destination_place_id},
            travelMode: travel_mode
          }, function(response, status) {
            if (status === 'OK') {
              directionsDisplay.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }
        // markers2 is an array of the actual markers
      // user defines end/start time of search
      var startTime = 0;
      var endTime = 8;
      for (var i =0; i < markers.length;i++){
        if (markers[i].time < endTime && markers[i].time > startTime){
          // only make a new marker if it fits the time specified
          markers2.push(createNewMarker(markers[i],map));
        }
      }
      //

      var circles = new Array();
      for(var i = 0; i < markers2.length;i++){
        circles[i] = new google.maps.Circle({
        map: map,
        radius: 100,    // meters
        fillColor: '#AA0000'
      });
        circles[i].bindTo('center', markers2[i], 'position');
      }
      }
      // research https://developers.google.com/maps/documentation/javascript/examples/directions-draggable
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvaXrCFmQSv5H62kP7fWA2yI0INPPkq5Y&libraries=places&callback=initMap"
        async defer></script>
      <span>Assault</span><img src="https://maps.google.com/mapfiles/kml/paddle/1-lv.png"><br>
      <span>Vandalism</span><img src="https://maps.google.com/mapfiles/kml/paddle/2-lv.png"><br>
      <span>Kidnapping</span><img src="https://maps.google.com/mapfiles/kml/paddle/3-lv.png"><br>
      <span>Sex Crime</span><img src="https://maps.google.com/mapfiles/kml/paddle/4-lv.png"><br>
      <span>DUI</span><img src="https://maps.google.com/mapfiles/kml/paddle/5-lv.png"><br>
      <span>Vehicle Theft</span><img src="https://maps.google.com/mapfiles/kml/paddle/6-lv.png"><br>
  </body>
</html>
