<!DOCTYPE html>
<html>
<head>
  <title>Crime Dodger</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Crime Dodger</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">About</a></li>
        {% if not session: %}
          <li><a href="/login">Login</a></li>
          {% endif %}
          {% if session: %}
          <li><a href="/users/{{session['id']}}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Crime Dodger</h1>
    <p class="lead">Crime Dodger helps users travel safely through the city of San Francisco. Explore the <a href="https://github.com/alex-wap/crime-dodger">GitHub repository</a> for this project.</p>
  </div>
</div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
  <div class="panel-heading"><h4>About</h4></div>
  <div class="panel-body"><p>This app maps the crime in San Francisco using Socrata Open Data and Google Maps JavaScript API. <a href="/login">Create an account or login</a> to save your favorite locations. Get directions and customize your routes based on crime.</p></div>
      </div>        
    </div>
  </div>
        

</div> <!-- end of container -->
</body>
</html>
