<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Crime Dodger</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #top_header {
        height: 240px;
        width: 960px;
        margin-left: 100px;
        margin-top: 20px;
      }
      #right_side {
        margin-left: 710px;
      }
      #center {
        margin-left: 150px;
        margin-top: 20px;
      }
      textarea {
        font-size: 16px;
      }
    </style>
</head>
<body>
<div id="top_header">
  <form>
    <input type="submit" action='/users/login' value="Login">
    <input type="submit" action='/users/registration' value="Registration">
    <input id="right_side" type="submit" action='/user/profile' value="Profile">
    <a href="/users/signout">Sign out</a>
   </form> 
   <div id="center">
     <textarea rows="7" cols="90">CrimeDodger is a suitably-named navigation app that helps keep you safe by steering you clear of high crime areas while it is occurring. When you are out for the day, visiting a friend, on your way to work or rolling into an unfamiliar area late at night, the last thing you want to do is to place yourself into an uncomfortable situation.  This app is designed to combine crime data from government agencies with reports to provide a real-time guide to which areas of a city should be avoided.” It’s kind of like Waze but instead of getting alerted to traffic jams you've kept abreast of car jackings, muggings, and shootings. The next best app!</textarea>
   </div>
   <div id="center">
     <input type="text" name="my_location" placeholder="My Location:" action='/users/my_location'>
     <input type="text" name="destination" placeholder="Destination:" action='/users/destination'>
     <input type="text" name="search" placeholder="Search:" action='/users/search'>
   </div>

</div>
  <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.778180, lng: -122.432646},
          zoom: 13
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC463uEVAexz7AMHPofPGS7D3gKS9IITs8&callback=initMap"></script>
    <div class="_"></div>
    <div class="_"></div>
    <div class="_"></div>

</body>
</html>
