<html>
<head>
  <title>Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
  <style>
    .flash{
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Crime Dodger</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        {% if not session: %}
          <li class="active"><a href="#">Login</a></li>
          {% endif %}
          {% if session: %}
          <li><a href="/users/{{session['id']}}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger flash">{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

        <h2>Register</h2><br>
  <form action='/users/create' method='post'>
      <div class="form-group row">
  <label for="name-field" class="col-xs-2 col-form-label">Name</label>
  <div class="col-xs-10">
    <input type="text" name="name" class="form-control" placeholder="Never Gonna Give You Up" id="name-field">
  </div>
</div>
<div class="form-group row">
  <label for="email-reg" class="col-xs-2 col-form-label">Email</label>
  <div class="col-xs-10">
    <input type="text" name="email" class=" form-control" placeholder="Never Gonna Let You Down" id="email-reg">
  </div>
</div>
<div class="form-group row">
  <label for="pass-reg" class="col-xs-2 col-form-label">Password</label>
  <div class="col-xs-10">
    <input type="password" name="password" class="form-control" placeholder="Never Gonna Run Around and Desert You
" id="pass-reg">
  </div>
</div>
<div class="form-group row">
  <label for="confirm-field" class="col-xs-2 col-form-label">Password Confirm</label>
  <div class="col-xs-10">
    <input type="password" name="confirm" class="form-control" placeholder="Never Gonna Make You Cry" id="confirm-field">
  </div>
  </div>
  <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Register">
      </div>
  </div>
  </form>
  <hr>
    <h2>Login</h2><br>
  <form action='/users/login' method='post'>
<div class="form-group row">
  <label for="email-login" class="col-xs-2 col-form-label">Email</label>
  <div class="col-xs-10">
    <input type="text" name="email" class=" form-control" placeholder="Never Gonna Say Goodbye" id="email-login">
  </div>
</div>
<div class="form-group row">
  <label for="pass-login" class="col-xs-2 col-form-label">Password</label>
  <div class="col-xs-10">
    <input type="password" name="password" class="form-control" placeholder="Never Gonna Tell a Lie and Hurt You
" id="pass-login">
  </div>
</div>
<div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Login">
        </div>
        </div>
  </form>

</div> <!-- container end -->
</body>
</html>
